"""
{{FeatureName}} Module

模块导出。
"""

from .routes import router
from .service import {{FeatureName}}Service
from .schemas import (
    {{FeatureName}},
    {{FeatureName}}Create,
    {{FeatureName}}Update,
)

__all__ = [
    "router",
    "{{FeatureName}}Service",
    "{{FeatureName}}",
    "{{FeatureName}}Create",
    "{{FeatureName}}Update",
]
