import { 
  UseMutationOptions, 
  DefaultOptions, 
  QueryClient 
} from '@tanstack/react-query';

// 核心配置 (出处: bulletproof-react)
export const queryConfig = {
  queries: {
    refetchOnWindowFocus: false,
    retry: false,
    staleTime: 1000 * 60, // 1 minute
  },
} satisfies DefaultOptions;

export const queryClient = new QueryClient({ defaultOptions: queryConfig });

// 类型定义补全
export type ApiFnReturnType<FnType extends (...args: any) => Promise<any>> = 
  Awaited<ReturnType<FnType>>;

export type QueryConfig<T extends (...args: any[]) => any> = 
  Omit<ReturnType<T>, 'queryKey' | 'queryFn'>;

export type MutationConfig<MutationFnType extends (...args: any) => Promise<any>> = 
  UseMutationOptions<
    ApiFnReturnType<MutationFnType>, 
    Error, 
    Parameters<MutationFnType>[0]
  >;

